*{
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width:400px;
    height: 400px;
    margin: auto;
    border: 1px solid black;
}
.boxRow{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.sizeBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
h1{
    text-align: center;
    color: purple;
    font-size:80px;
}